<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link href="{{ url_for('static', filename='css/labs.css') }}" rel="stylesheet" type="text/css">
</head>


<body>
    <div class="background"></div>
    <input type="checkbox" id="dark-mode-toggle">
    <label for="dark-mode-toggle" class="dark-mode-label">Dark Mode</label>
    <div class="leftnavigation">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Home 🏠</a></li>
            <li><a href="{{ url_for('student_syllabus') }}">Syllabus🚀</a></li>
            <li><a href="{{ url_for('student_calendar') }}">Calendar🗓️</a></li>
            <li><a href="https://piazza.com/class/m5fmz9kzjo83yk">Piazza💡</a></li>
            <li><a href="https://markus2.utsc.utoronto.ca/courses/34/assignments">Markus🗂️</a></li>
            <li><a href="{{ url_for('student_lectures') }}">Lectures👩‍🏫</a></li>
            <li><a href="{{ url_for('student_labs') }}"><span>Labs👩‍💻</span></a></li>
            <li><a href="{{ url_for('student_assignments') }}">Assignments✍️</a></li>
            <li><a href="{{ url_for('student_resources') }}">Course Team🙋‍♀️🙋‍♀️</a></li>
            <li><a href="{{ url_for('student_feedback') }}">Anon Feedback😉</a></li>
            <li><a href="{{ url_for('view_grades') }}">Grades📊</a></li>
        </ul>
        
    </div>
    <header class="labs-header">
        <h1>Lab Sessions</h1>
        <p>Here you can find lab exercises and solutions for each week.</p>
        <p>Notes Prepared by: Kevin Zhang</p>
    </header>

    
    <div class="labs-container">
        <div class="lab-list">
            <div class="lab-card">
                <h2>Week 1: Introduction to SQL</h2>
                <a href="{{ url_for('static', filename='sources/labs/Tutorial Week 1.pdf') }}" class="lab-link" target="_blank">📄 Lab 1 Exercise</a>
                <a href="{{ url_for('static', filename='sources/labs/week02soln.py') }}" class="lab-link" download>✅ Solution</a>
            </div>

            <div class="lab-card">
                <h2>Week 2: Starting with SQL</h2>
                <a href="{{ url_for('static', filename='sources/labs/Tutorial Week 2-1.pdf') }}" class="lab-link" target="_blank">📄 Lab 2 Exercise</a>
                <a href="{{ url_for('static', filename='sources/labs/week02soln-updated.pdf') }}" class="lab-link" target="_blank">✅ Solution</a>
            </div>

            <div class="lab-card">
                <h2>Week 3: SQL Queries</h2>
                <a href="{{ url_for('static', filename='sources/labs/Tutorial 3-1.pdf') }}" class="lab-link" target="_blank">📄 Lab 3 Exercise</a>
                <a href="{{ url_for('static', filename='sources/labs/week04soln (1) (1).sql') }}" class="lab-link" download>✅ Solution</a>
            </div>

            <div class="lab-card">
                <h2>Week 4: Introduction to HTML and CSS</h2>
                <a href="{{ url_for('static', filename='sources/labs/Tutorial 4-1.pdf') }}" class="lab-link" target="_blank">📄 Lab 4 Exercise</a>
                <a href="{{ url_for('static', filename='sources/labs/week05soln-sql.sql') }}" class="lab-link" download>✅ Solution</a>
            </div>

            <div class="lab-card">
                <h2>Week 6: Introduction to Flask</h2>
                <a href="{{ url_for('static', filename='sources/labs/Tutorial Week 6-1.pdf') }}" class="lab-link" target="_blank">📄 Lab 6 Exercise</a>
                <a href="{{ url_for('static', filename='sources/labs/tut06 soln.zip') }}" class="lab-link" download>✅ Solution</a>
            </div>

            <div class="lab-card">
                <h2>Week 7: Introduction to JavaScript</h2>
                <a href="{{ url_for('static', filename='sources/labs/Tutorial Week 7-1.pdf') }}" class="lab-link" target="_blank">📄 Lab 7 Exercise</a>
                <a href="{{ url_for('static', filename='sources/labs/week09soln.zip') }}" class="lab-link" download>✅ Solution</a>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2025 CSCB20 Course Website | <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></p>
        <p>Site design by Shuqing Tu and Yiqin Gao</p>
    </footer>

</body>
</html>
